name: Build & Release

on:
  push:
    tags:
      - "*"

permissions:
  contents: write   # REQUIRED to create releases & upload assets

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            platform: linux/amd64
          - os: windows-latest
            platform: windows/amd64
          - os: macos-latest
            platform: darwin/universal

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build with Snider/build
        uses: Snider/build@v2.2
        with:
          build-name: YaGUI
          build-platform: ${{ matrix.platform }}
          package: false
          go-version: "1.23"

      - name: Upload binaries to GitHub Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          file: |
            build/bin/*.zip
            build/bin/*.exe
            build/bin/*
          file_glob: true
          overwrite: true
